body {
  font-family: var(--FontSansSerif);
  font-size: 14px;
  background-color: var(--p-surface-0);
}

.DarkMode body {
  background-color: var(--p-surface-950);
}

/* Native element override style */
a {
  display: block;
  color: unset;
  text-decoration: none;
}

button {
  padding: 0.5rem 0.75rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

/* Layout */
#RootPanel {
  display: flex;
  height: 100vh;
  width: 100vw;

  .p-splitter-gutter:hover {
    background-color: var(--p-primary-color);
  }
}

#LeftPanel {
  min-width: 300px;
  background-color: var(--p-content-background);
  border-right: 1px solid var(--p-content-border-color);
}

#RightPanel {
  width: 100%;
}

/* Atom class */
.Panel {
  display: flex;
  flex-direction: column;
}

.Padding {
  padding: 8px;
}

.VGap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Custom components style */
.Tree {
  user-select: none;

  .TreeRoot {
    padding: 0px;
  }

  .TreeChildren {
    padding: 0px 0px 0px 1rem;
  }

  .TreeLeaf {
    .pi:first-child {
      visibility: hidden;
    }
  }

  ul,
  li {
    margin: 0px;
    padding: 0.5rem 1rem;
  }

  li {
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;

    &:hover {
      background-color: var(--p-content-hover-background);
    }
  }
}

.Tabs {
  display: flex;
  gap: 8px;
  border-bottom: 1px solid var(--p-content-border-color);
  padding: 4px;

  .Tab {
    display: flex;
    gap: 4px;
    border-radius: 6px;

    &:hover,
    &.TabActive {
      background-color: var(--p-primary-100);
      color: var(--p-primary-700);
    }

    i {
      font-size: 12px;
    }

    .TabButton {
      display: inline-block;
    }
  }
}

/* PrimeVue override style */
.p-dialog {
  min-width: 500px;

  .p-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
