@font-face {
  font-family: "Material Symbols Outlined";
  src: url("/src/assets/fonts/MaterialSymbolsOutlined-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.i {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.i-undo::before {
  content: "\e166";
}

.i-redo::before {
  content: "\e15a";
}

.i-bold::before {
  content: "\e238";
}

.i-italic::before {
  content: "\e23f";
}

.i-strikethrough::before {
  content: "\e257";
}

.i-code::before {
  content: "\e86f";
}

.i-image::before {
  content: "\e3f4";
}

.i-link::before {
  content: "\e157";
}

.i-horizontal-rule::before {
  content: "\f108";
}

.i-h1::before {
  content: "\f85d";
}

.i-h2::before {
  content: "\f85e";
}

.i-h3::before {
  content: "\f85f";
}

.i-h4::before {
  content: "\f860";
}

.i-h5::before {
  content: "\f861";
}

.i-h6::before {
  content: "\f862";
}

.i-paragraph::before {
  content: "\f865";
}

.i-add::before {
  content: "\e145";
  height: 20px;
}

.i-close::before {
  content: "\e5cd";
}

.i-note-add::before {
  content: "\e89c";
}

.i-folder-add::before {
  content: "\e2cc";
}

.i-notebook::before {
  content: "\f53e";
}

.i-arrow-down::before {
  content: "\e5c5";
}

.i-arrow-right::before {
  content: "\e5df";
}

.i-left-panel-open::before {
  content: "\f716";
}

.i-left-panel-close::before {
  content: "\f717";
}

.i-menu::before {
  content: "\e5d2";
}
