:root {
  --FontSansSerif: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC",
    "WenQuanYi Micro Hei", sans-serif;
  --FontMonospace: Menlo, Monaco, Consolas, "Andale Mono", "lucida console",
    "Courier New", monospace;
}

body {
  margin: 0px;
  font-family: var(--FontSansSerif);
  font-size: 14px;
  overflow: hidden;
}

a {
  display: block;
  color: unset;
  text-decoration: none;
}

button {
  padding: 7px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}
